@use '../../styles/variables';
@use '../../styles/global';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar .left {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 50px;
}

.navbar .links a{
    margin-right: 10px; /* Add some margin between links */
}
